<body>
  <main>
    <form method="POST" action="/new">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </main>
</body>
